<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consultation in Our Hospital</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">

</head>
<body>
{%include 'header.html'%}
    <h2 class="jumbotron">Consultation in Our Hospital</h2>
                <section class="row">
                        <div class="col-md-4">
                                <h1>General clinic</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                                        Atque aut cum dicta ea explicabobr
                                        <br> in ipsa iste numquam quia quidem!
                                        <br>
                                        Ab aperiam debitis esse id magnam quia repellendus unde? Velit!</p>
                        </div>
                        <div class="col-md-4">
                           <h1>Our Nursing Home</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                                        Atque aut cum dicta ea explicabobr
                                        <br> in ipsa iste numquam quia quidem!
                                        <br>
                                        Ab aperiam debitis esse id magnam quia repellendus unde? Velit!</p>
                        </div>
                        <div class="col-md-4">
                                <h1>Emergency Room</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                                        Atque aut cum dicta ea explicabobr
                                        <br> in ipsa iste numquam quia quidem!
                                        <br>
                                        Ab aperiam debitis esse id magnam quia repellendus unde? Velit!</p>

                        </div>
                </section>
{% include 'footer.html'%}
</body>
</html>