<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">

</head>
<body>
        <br>
    <br>
    <footer bg-dark>
    <section class="row" style="background-color: grey; color: white;">
       <div class="col-md-4">
           <h2>Family Hopsital</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at,<br>
                blanditiis eaque impedit in ipsam magnam maxime
                <br>provident quis quo rem repellat, repudiandae voluptate.
                <br>Delectus excepturi fugiat molestias qui voluptates!</p>

       </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>A108 Adam Street</p>
            <p>09867362820283648</p>
            <p>cheromathews@gmail.com</p>
            <p>Daily Street, New York</p>
        </div>
        <div class="col-md-4">
            <h2>NewsLetter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at,<br>
                blanditiis eaque impedit in ipsam magnam maxime
                <br>provident quis quo rem repellat, repudiandae voluptate.
                <br>Delectus excepturi fugiat molestias qui voluptates!</p>

        </div>
    </section>
    </footer>
</body>
</html>