<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">

</head>
<body>
{% include 'header.html' %}

        <h2 class="jumbotron">Family Hospital</h2>
        <section class="row">
            <div class="col-md-8">
                <h2>Patient Care</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ipsum iste minima minus pariatur praesentium quam repellendus, ut voluptates voluptatum?
                    <br>
                    Aliquid cumque facilis magnam modi nobis perspiciatis quod sint velit?</p>

            </div>
        </section>
    </section>
    <br><br>
    <section class="row">
        <div class="col-md-4">
                    <img src="../static/doc2.jpg" alt="" class="img-fluid">
                    <h2>Cool Staff</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at,<br>
                blanditiis eaque impedit in ipsam magnam maxime
                <br>provident quis quo rem repellat, repudiandae voluptate.
                <br>Delectus excepturi fugiat molestias qui voluptates!</p>
                <a href="" class="btn btn-dark">Read More</a>
                </div>
                <div class="col-md-4">
                    <img src="../static/doc2.jpg" alt="" class="img-fluid">
                     <h2>Even Cool Staff</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at,<br>
                blanditiis eaque impedit in ipsam magnam maxime
                <br>provident quis quo rem repellat, repudiandae voluptate.
                <br>Delectus excepturi fugiat molestias qui voluptates!</p>
                <a href="" class="btn btn-dark">Read More</a>
                </div>
            <div class="col-md-4">
                    <img src="../static/doc2.jpg" alt="" class="img-fluid">
                     <h2>Even Cool Staff</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at,<br>
                blanditiis eaque impedit in ipsam magnam maxime
                <br>provident quis quo rem repellat, repudiandae voluptate.
                <br>Delectus excepturi fugiat molestias qui voluptates!</p>
                <a href="" class="btn btn-dark">Read More</a>
                </div>
    </section>
{% include 'footer.html'%}
</body>
</html>